<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.online_shop.mybatisimpl.mappers.DiscountMapper">

    <resultMap id="DiscountResultMap" type="com.solvd.online_shop.models.Discount">
        <id property="discountId" column="discount_id"/>
        <result property="productId" column="product_id"/>
        <result property="percentage" column="percentage"/>
        <result property="validFrom" column="valid_from"/>
        <result property="validTo" column="valid_to"/>
    </resultMap>

    <select id="getById" parameterType="int" resultMap="DiscountResultMap">
        SELECT * FROM Discounts WHERE discount_id = #{id}
    </select>

    <select id="getAll" resultMap="DiscountResultMap">
        SELECT * FROM Discounts
    </select>

    <insert id="add" parameterType="com.solvd.online_shop.models.Discount">
        INSERT INTO Discounts (product_id, percentage, valid_from, valid_to)
        VALUES (#{productId}, #{percentage}, #{validFrom}, #{validTo})
    </insert>

    <update id="update" parameterType="com.solvd.online_shop.models.Discount">
        UPDATE Discounts
        SET product_id=#{productId}, percentage=#{percentage}, valid_from=#{validFrom}, valid_to=#{validTo}
        WHERE discount_id=#{discountId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM Discounts WHERE discount_id=#{id}
    </delete>

</mapper>
